<p style="color: green"><%= notice %></p>

<%= render @client %>

<% if @client.addresses.any? %>
  <p>Endereços: </p>
  <ul>
    <%= render partial: 'addresses/address', collection: @client.addresses %>
  </ul>
<%end%>


<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %> 

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>
